<!DOCTYPE html>
<html lang="">
    <head>
        <title>Palm Centre Event Schedule</title>
        <!-- CSS for full calender -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
        <!-- JS for jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- JS for full calender -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    </head>
    <body>
        <h1>Palm Centre Event Schedule</h1>
        <div id="calendar"></div>
    </body>
    <script>
    $(document).ready(function() {
        let dates = "{{ dates }}";
        let date_array = dates.split("|")
        date_array.shift()
        let events_booked_dates = []
        date_array.forEach(element => events_booked_dates.push({title: "Day has been booked.", start: element}))
        $('#calendar').fullCalendar({
        defaultView: 'month',
        events: events_booked_dates
        });
    });
    </script>
</html>